body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.time-input {
    width: 60px;
    padding: 10px;
    margin: 0 5px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#timer {
    font-size: 3rem;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#notification {
    font-size: 1.2rem;
    color: #ff0000;
    margin-top: 20px;
}

#loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    color: #e62429;
    z-index: 1000;
}
