body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    margin: 0;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.character img {
    width: 100%;
    height: auto;
}
